<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<div id="achievementsection">
  <div class="achieve" style="margin-top:0px; height:25vh;">
    <h1 style="margin-top:7rem; position:absolute; margin-left:42rem;">Achievements</h1>
  </div>
  <p class="achievepara">Welcome to my achievements page, where I'm proud to share some of the significant
    milestones and recognitions that have shaped my journey as a Web-Developer and Programmer. These accomplishments
    reflect my dedication, perseverance, and the impact I've made in my field.</p>
  <div id="achievement">
    <div class="card" style="width: 20rem;">
      <a href="/images/great.png" target="_blank"><img src="images/greatlogo.png" class="card-img-top" alt="...">
      <div class="card-body"></a>
        <p class="card-text" style="color:black; margin-left:0px;">Basics of Java</p>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <a href="/images/infosys.png" target="_blank"><img src="images/spring.jpg" class="card-img-top" alt="...">
      <div class="card-body"></a>
        <p class="card-text" style="color:black; margin-left:0px;">Data Structures and Algorithms in Java</p>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <a href="/images/python.png" target="_blank"><img src="images/Moratuwa.jpg" class="card-img-top" alt="...">
      <div class="card-body"></a>
        <p class="card-text" style="color:black; margin-left:0px;">Basics of Python</p>
      </div>
    </div>
  </div>
</div>