
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<!-- Home -->
<div class="main">
<h2>Hello, It's Me</h2>
<h1>Rishav Raj</h1>
<h1>And I'm a <span class="text"></span></h1>
<p style="z-index: 1;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni expedita autem dignissimos quasi nesciunt nobis.</p>
<img class="raj" src="images/raj.jpg" 
width="500px" height="500px" alt="image of candidate" >
<div class="icon">
    <a href="https://github.com/1-Rishav"><i class="bx bxl-github"></i></a>
    <a href="https://www.linkedin.com/in/rishav-raj-ab2893253/"><i class="bx bxl-linkedin"></i></a>
    <a href="https://twitter.com/11Rishav"><i class="bx bxl-twitter"></i></a>
   </div> 
<a href="#" class="btn-box">More About Me</a>
</div>
