<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<div id="projectsection">
  <div class="project" style="margin-top:0px; height:25vh;">
    <h1 style="margin-top:7rem; position:absolute; margin-left:42rem;">Projects</h1>
  </div>

  <p class="projectpara">Welcome to my project showcase! Here, you'll find a selection of projects that highlight my
    skills, creativity, and dedication to delivering exceptional results. Each project represents a unique challenge
    I've tackled, showcasing my ability to bring ideas to life and create impactful solutions.</p>

  <div id="madeproject">
    <div class="card" style="width: 20rem;">
      <a href="https://github.com/1-Rishav/ToDo-List" target="_blank"><img src="images/Todo.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="card-text">TO-DO List Web Application</p>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <a href="https://github.com/1-Rishav/Blog-Website" target="_blank"><img src="images/Blog.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="card-text">Blog Web-Application</p>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <a href="https://github.com/1-Rishav/Hospital-Database-Centralization" target="_blank"><img src="images/Hospital.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="card-text">Hospital Database Centralization Web-Application</p>
      </div>
    </div>
  </div>
</div>
   